
    .card{
        border-radius: 10px;
        box-shadow: 10px 5px 10px #333;
        padding: 10px;
    }

    .cardImage{
        border-radius: 10px;

    }
    .cardBody{
        padding: .5rem;
    }
    .cardTitle{
        /* font-size: 100%; */
        text-align: center;
        font-size: 1rem;

    }
    .cardText{
        font-size: 100%;

    }
    

    @media (min-width: 1200px){
        .container{
            max-width: 800%;
            padding: 0 4rem;
        }
    }

    @media (min-width: 768px){
        .container{
            max-width: 100%;
            padding: 0 4rem;
        }
    }

    /* --------------- */
    


    .row-header{
        margin:0px auto;
        padding:0px auto;
    }

   
    
    .row-content {
        margin:0px auto;
        padding: 50px 0px 50px 0px;
        border-bottom: 1px ridge;
        min-height:400px;
    }
    
    .footer{
        background-color: #D1C4E9;
        margin:0px auto;
        padding: 20px 0px 20px 0px;
       
        

    }

    
    address{
        font-size:80%;
        margin:0px;
        color:#0f0f0f;
    }
    .navbar-dark {
        background-color: #512DA8;
    }



    .home{
        height: 100vh;
    }

  


