/* 

    .card{
        border-radius: 10px;
        box-shadow: 10px 5px 10px #333;
        padding: 10px;
    }

    .cardImage{
        border-radius: 10px;

    }
    .cardBody{
        padding: .5rem;
    }
    .cardTitle{
        text-align: center;
        font-size: 1rem;

    }
    .cardText{
        font-size: 100%;

    }
     */

    /* @media (min-width: 1200px){
        .container{
            max-width: 800%;
            padding: 0 4rem;
        }
    }

    @media (min-width: 768px){
        .container{
            max-width: 100%;
            padding: 0 4rem;
        }
    } */

    /* --------------- */
    



    /* .row-header{
        margin:0px auto;
        padding:0px auto;
    } */

   
/*     
    .row-content {
        margin:0px auto;
        padding: 50px 0px 50px 0px;
        border-bottom: 1px ridge;
        min-height:400px;
    } */

    /* CSS for all */

    body{
        background-image: linear-gradient(to top,#02598f,rgb(220, 220, 20)) ;
    }    

    .card{
        padding: 15px;
        border: 1px black solid;
        border-radius: 5px;
    }
    .cardImg{
        padding: 5px;
        border: 1px black solid;
    }
    .cardTitle{
        font-size: 16px;
        margin: 5px 0;
    }
    .cardBody{
        padding: 0;
        text-align: center;
    }
    
    .footer{
        color: white;
        background-color: #003556;
        margin:0px auto;
        padding: 40px 0px 0px 0px;
    }
    /* ------------------------------------ */

    /* CSS for StaffListComponent */

    .card-nv{
        padding: 5px;
        background-color: #003556;
    }

    .cardImg-nv{
        padding: 8px;
        border-radius: 25px 25px 0 0;
        background-color: white;
    }
    .card-nv:hover .cardImg-nv{
        padding: 0px;
        border: 2px yellow solid;
        border-radius: 50%;
        transition: all .3s ease;
    }
    .cardTitle-nv{
        font-size: 16px;
        margin: 15px 0;
        color: white;
        text-decoration: none;
    }

    .cardBody-nv{
        padding: 0;
        text-align: center;
    }
    

    /* ------------------------------------ */

    
    address{
        font-size:80%;
        margin:0px;
        color:white;
    }
    .navbar-dark {
        background-color: #003556;
    }
    .nav-item:hover span {
        color: yellow;
    }

    .home{
        height: 100vh;
    }

    .logo{
        margin: 0 5px 0 5px  ;
    }

  


